---
---

@import "{{ site.theme }}";
.blue{
    color: rgb(54,164,241);
}
a {
    color: rgb(54,164,241);
}
.yellowhighlight{ 
  background-color:rgb(255,247,35) 
}
.nospace{
    margin-bottom: 0px;
}
h3 {
    margin-bottom: 0px;
}
footer {
    position: fixed;
}
