<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title}} </title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      
        <h1 class="blue" style="font-size: 500%; margin-bottom: 10px;"><a href="/">HELLO</a></h1>
        <p style="font-size: 200%; margin-bottom: 0px;">I'm <strong>Jennifer Cross</strong>.</p> 
        <p style="font-size: 150%; margin-bottom: 30px;">I am an <a href="http://jenncross.github.io/projects">engineer</a>, <a href="http://jenncross.github.io/teaching">educator</a>, <a href="http://jenncross.github.io/publications">scientist</a>, <a href="http://jenncross.github.io/activities">artist</a>, and <a href="http://jenncross.github.io/projects">roboticist</a>.</p>
      
        <!--<br><br> added when title replaced-->
        <p style="margin-bottom: 10px;"><a href="http://jenncross.github.io"><strong>HOME</strong></a></p>
         <!--<p style="margin-bottom: 10px;"><a href="http://jenncross.github.io/about"><strong>ABOUT</strong></a></p>-->
        <p style="margin-bottom: 10px;"><a href="http://jenncross.github.io/publications"><strong>PUBLICATIONS</strong></a></p>
         <!--<p style="margin-bottom: 10px;"><a href="http://jenncross.github.io/projects"><strong>PROJECTS</strong></a></p>
        <p style="margin-bottom: 10px;"><a href="http://jenncross.github.io/teaching"><strong>TEACHING</strong></a></p>
        <p style="margin-bottom: 10px;"><a href="http://jenncross.github.io/activities"><strong>ACTIVITIES</strong></a></p>-->
       
                
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p style="margin-bottom: 10px;font-size:x-small">
        <!--Hosted on GitHub Pages &mdash; <a href="https://github.com/pages-themes/minimal">Minimal</a> Theme<br>-->
        &copy;2017 Jennifer Cross<br>
        <!--Design by Jennifer Cross via <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a><br>-->
        </p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  {% endif %}
  </body>
</html>
